{% extends 'exam/base.html' %} <!--나머지 양식은 base.html에서 갖고옴(모듈화)-->
                     {% block main_area %}
                            <div class="media">
                              <img src="https://loremflickr.com/200/200" />
                              <div class="media-body">
                                <h5 class="mt-0">Main Page</h5>
                                <p> home 페이지에 오신 것을 환영합니다. </p>
                                <p>dummy text -
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet, at atque cupiditate delectus dignissimos doloremque et facere illum laudantium mollitia nobis officiis quibusdam quis, repellendus sequi sint, unde voluptatem.
                                </p>
                              </div>
                            </div>
                     {% endblock %}
